@import '../../../colors.scss';
.registerContainer {
    padding: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    label {
        color: $brown;
    }
    Button {
        background-color: $brown;
        color: $darkyellow;
        &:hover{
            padding: 0 1em 0 1em ;
            background-color: $darkyellow;
            color: $lightyellow;
        }

    }
}