@import '../../colors.scss';
.header {
    display: flex;
    justify-content: space-between;
    background-color: $lightyellow;
    color: $brown;
    .guestZone {
        display: flex;
    }
    a {
        all: unset;
        padding: 0.8em;
        cursor: pointer;
        &.active {
            background-color: $white;
        }
    }
}