@import '../../colors.scss';
.header {
    display: flex;
    justify-content: space-between;
    background-color: $lightyellow;
    color: $brown;
    max-height: 3em;
    .homeB{
        justify-content: center;
        margin: 1em 0 2em 8em;
    }
    .guestZone {
        margin: 0 8em 2em 0;
        display: flex;
    }
    .userZone{
        display: flex;
        position: relative;
        width: 40em;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 8em 2em 0;
        Button {
            background-color: $brown;
            color: $darkyellow;
            display: flex;
            font-size: medium;
            justify-content: space-around;
            flex-direction: row;
            width: 20em;
            position: absolute;
            top: 0em;
            height: 3em;
            &:hover{
                background-color: $darkyellow;
                color: $lightyellow;
            }
        }
        // span{
        //     margin-left: 10em;
        // }
    }
    a {
        all: unset;
        padding: 0.8em;
        cursor: pointer;
        &.active {
            background-color: $white;
        }
    }
}