@import '../../colors.scss';
.products {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
    .product {
        display: inline-flex;
        cursor: pointer;
        flex-direction: column;
        padding: 0.5em;
        margin: 0 2em 0 2em;
        justify-content: space-between;
        align-items: center;
        img {
            max-width: 80%;
        }
    }
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .row{
      display: flex;
      justify-content: space-between;
      max-width: 80vw;
      height: 10vh;
      margin: 2em;
    .busqueda{
        Button {
            background-color: $brown;
            color: $darkyellow;
            &:hover{
                padding: 0 1em 0 1em ;
                background-color: $darkyellow;
                color: $lightyellow;
            }
        }
    }
    .carrito{
        Button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            font-size: 1em;
            background-color: $brown;
            color: $darkyellow;
            height: 3em;
            width: 10em;
            &:hover{
                padding: 0 1em 0 1em ;
                background-color: $darkyellow;
                color: $lightyellow;
            }
        }
    }
    p{
       margin-bottom: 0em;
    }
 }
.NavTop{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    cursor: pointer;
    .display > li {
        color: $brown;
        display: none;
    }
    .searchBrand{
          display: none;
        Button {
            background-color: $brown;
            color: $darkyellow;
            &:hover{
                padding: 0 1em 0 1em ;
                background-color: $darkyellow;
                color: $lightyellow;
            }
        }
    }
}