@import '../../colors.scss';

.wrap{
    width: 100%;
    max-height: 30%;
    position: absolute;
    bottom: 4px;
    background-color: $lightyellow;
    color: $brown;
    .top{
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }
    li, h3{
        list-style-type: none;
        cursor: pointer;
    }
    .buttom{
        margin-top:8em;
        background-color: $white;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    
}